In [1]:
# basic python data handling analysis modules
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
import pickle, os, gc, re
# small utility functions
from utility import *

# interactive jupyter widgets!
# https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

%matplotlib inline

In [2]:
Dataset_directory = ".."+os.sep+"Datasets"+os.sep
secondary_tmdb_dir = "E:\\Datasets\\themoviedb"

In [3]:
INT_df = pd.read_msgpack(secondary_tmdb_dir+os.sep+"INT_df.msgpack")

In [20]:
flatten = lambda l: [item for sublist in l for item in sublist]

In [4]:
INT_df["tmdbId"] = INT_df[search(INT_df,"tmdbId").index].fillna(method="ffill",axis=1)["SER_tmdbId"]#.notnull().sum()
INT_df["movieId"] = INT_df[search(INT_df,"movieId").index].fillna(method="ffill",axis=1)["NUM_movieId"]#.notnull().sum()

In [5]:
# INT_df = pd.read_msgpack(secondary_tmdb_dir+os.sep+"INT_df.msgpack")
# search(INT_df,"SER_")

In [6]:
# INT_df[search(INT_df,"release").index]

In [7]:
INT_df["TMB_release_date"].isnull().sum()

40867

In [8]:
INT_df["SER_releaseDate"].isnull().sum()

422460

In [11]:
# %%time
# I wonder if MovieLens would like to pay me for fixing their data?
INT_df.loc[INT_df["movieId"]==8688,"SER_releaseDate"] = "1968-12-13" # Shalako 13 December 1968
INT_df.loc[INT_df["movieId"]==33471,"SER_releaseDate"] = "2002-04-05" # https://www.imdb.com/title/tt0292553/?ref_=fn_al_tt_1
INT_df.loc[INT_df["movieId"]==46121,"SER_releaseDate"] = "2001-06-01" # https://www.imdb.com/title/tt0135024/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==47991,"SER_releaseDate"] = "2005-06-09" # https://www.imdb.com/title/tt0383304/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==42941,"SER_releaseDate"] = "1974-08-08" # https://www.imdb.com/title/tt0071840/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==59300,"SER_releaseDate"] = "1986-09-12" # https://www.imdb.com/title/tt0090678/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==55631,"SER_releaseDate"] = "2006-03-17" # https://www.imdb.com/title/tt0443446/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==60034,"SER_releaseDate"] = "2007-01-22" # https://www.imdb.com/title/tt0893331/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==97703,"SER_releaseDate"] = "2012-05-07" # https://www.imdb.com/title/tt2209386/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==105159,"SER_releaseDate"] = "2012-07-13" # https://www.imdb.com/title/tt1859446/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==105453,"SER_releaseDate"] = "2013-09-19" # https://www.imdb.com/title/tt2717558/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==105855,"SER_releaseDate"] = "2013-10-11" # https://www.imdb.com/title/tt2286990/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==109455,"SER_releaseDate"] = "2014-02-21" # https://www.imdb.com/title/tt2980794/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==57486,"SER_releaseDate"] = "1970-10-23" # https://www.imdb.com/title/tt0066578/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==53502,"SER_releaseDate"] = "1948-04-27" # https://www.imdb.com/title/tt0040098/releaseinfo?ref_=tt_dt_dt
INT_df.loc[INT_df["movieId"]==60049,"SER_releaseDate"] = "2007-05-30" # https://www.imdb.com/title/tt0832937/releaseinfo?ref_=tt_dt_dt

INT_df["SER_releaseDate"] = pd.to_datetime(INT_df["SER_releaseDate"].replace("0000-00-00",np.nan)).apply(lambda x: x.date())
## another problem - whole load of SER_releaseDates *just happen* to be the UNIX start date -> statistically improbable
# (yes, I checked whether it happened to be the data of a film festival - it was not!)
# also, more on one single date by an order of magnitude
matching_UNIX_start_date = INT_df["SER_releaseDate"]==pd.to_datetime("1969-12-31").date()
INT_df.loc[matching_UNIX_start_date,"SER_releaseDate"] = np.datetime64('NaT')

INT_df["SER_release_year"]  = INT_df["SER_releaseDate"].apply(lambda x: x.year if pd.notnull(x) else np.nan)
INT_df["SER_release_month"] = INT_df["SER_releaseDate"].apply(lambda x: x.month if pd.notnull(x) else np.nan)
INT_df["SER_release_day"]   = INT_df["SER_releaseDate"].apply(lambda x: x.day if pd.notnull(x) else np.nan)

INT_df["TMB_release_year"]  = INT_df["TMB_release_date"].apply(lambda x: x.year if pd.notnull(x) else np.nan)
INT_df["TMB_release_month"] = INT_df["TMB_release_date"].apply(lambda x: x.month if pd.notnull(x) else np.nan)
INT_df["TMB_release_day"]   = INT_df["TMB_release_date"].apply(lambda x: x.day if pd.notnull(x) else np.nan)

date_vars = ["TMB_release_date","SER_releaseDate"]
# hardfix SER and TMB, NUM_date looks fine
dates = INT_df[date_vars].applymap(lambda x: pd.to_datetime(x).date() if pd.notnull(x) else np.nan)
placeholder_month_day = dates.applymap(lambda x: (x.day==1) & (x.month==1) if pd.notnull(x) else np.nan)

INT_df.loc[ placeholder_month_day["TMB_release_date"]==True , "TMB_release_month" ] = np.nan
INT_df.loc[ placeholder_month_day["TMB_release_date"]==True , "TMB_release_day"   ] = np.nan

# Meh - no perfect solution - still waaay too many 1st of the month dates ...
# But we don't have enough data in NUM_date to compensate if you just toss them all out

# INT_df.loc[ INT_df["TMB_release_day"]==1 , "TMB_release_day"   ] = np.nan

INT_df.loc[ placeholder_month_day["SER_releaseDate" ]==True , "SER_release_month" ] = np.nan
INT_df.loc[ placeholder_month_day["SER_releaseDate" ]==True , "SER_release_day"   ] = np.nan
# INT_df.loc[ INT_df["SER_release_day"]==1 , "SER_release_day"   ] = np.nan


# this represents a very informal sensse of which source is most authoritative!
# TMB user content - least reliable, NUM website focused on accurate
# HETREC and SER are MovieLens data - not bad, but maybe not so well checked (HETREC in particular has problems)

# Concerned that HETREC is really very dodgy

In [12]:
INT_df["release_year"] = INT_df[['HETREC_year','TMB_release_year','SER_release_year']].fillna(method="ffill",axis=1)["SER_release_year"]
INT_df["release_month"] = INT_df[['TMB_release_month','SER_release_month']].fillna(method="ffill",axis=1)["SER_release_month"]
INT_df["release_day"] = INT_df[['TMB_release_day','SER_release_day']].fillna(method="ffill",axis=1)["SER_release_day"]

release_date = INT_df[["TMB_release_date","SER_releaseDate"]].fillna(method="ffill",axis=1)["SER_releaseDate"]
release_date = pd.to_datetime(release_date)
day_and_month_not_actually_given = (INT_df["release_day"]==1) & (INT_df["release_month"]==1)

In [13]:
match(INT_df,"release")

release_year     431774
release_month    366501
release_day      366501
dtype: int64

In [14]:
release_decade = INT_df["release_year"].apply(lambda x: str(int(10*np.floor(x/10))) if pd.notnull(x) else np.nan)
# release_decade_dummies = pd.get_dummies(release_decade , prefix = "release_decade__")

In [15]:
import calendar
from datetime import date
release_month = INT_df['release_month'].apply(lambda x: calendar.month_abbr[int(x)] if pd.notnull(x) else np.nan)
release_month[day_and_month_not_actually_given] = np.nan
# release_month_dummies = pd.get_dummies(release_month , prefix = "release_month__")
release_month.value_counts()

Oct    37376
Sep    33704
Nov    33188
Dec    32157
Mar    31781
Apr    31241
Jun    30635
Jan    29659
May    29190
Feb    27668
Aug    25926
Jul    23976
Name: release_month, dtype: int64

In [16]:
# day in month
release_day = INT_df['release_day'].copy()#.apply(lambda x: calendar.month_abbr[int(x)] if pd.notnull(x) else np.nan)
release_day.loc[day_and_month_not_actually_given] = np.nan
# release_day_dummies = pd.get_dummies(release_day , prefix = "release_day_of_the_month__")
# release_day_dummies.columns = release_day_dummies.columns.astype('int')
release_day.value_counts()

1.0     29555
2.0     14965
15.0    12693
10.0    12527
25.0    12049
6.0     11943
14.0    11844
20.0    11716
11.0    11698
12.0    11695
5.0     11663
9.0     11252
7.0     11199
21.0    11177
22.0    11105
4.0     11017
13.0    10933
8.0     10886
18.0    10877
23.0    10860
3.0     10850
26.0    10829
24.0    10825
16.0    10782
17.0    10678
19.0    10614
28.0    10583
30.0    10572
27.0    10485
29.0     9607
31.0     9022
Name: release_day, dtype: int64

In [17]:
release_weekday = release_date.apply(lambda x: calendar.day_name[x.weekday()] if pd.notnull(x) else np.nan)
release_weekday.loc[day_and_month_not_actually_given] = np.nan
# release_weekday_dummies = pd.get_dummies(release_weekday , prefix = "release_weekday__")
release_weekday.value_counts()

Friday       91603
Thursday     69168
Wednesday    61282
Tuesday      57185
Saturday     57181
Monday       48680
Sunday       46623
Name: SER_releaseDate, dtype: int64

In [18]:
# INT_df[release_weekday_dummies.columns]=release_weekday_dummies
# INT_df[release_day_dummies.columns]    = release_day_dummies
# INT_df[release_month_dummies.columns]  = release_month_dummies
# INT_df[release_decade_dummies.columns] = release_decade_dummies

In [19]:
INT_df["release_weekday_text"]=release_weekday
INT_df["release_day_of_the_month"]    =release_day
INT_df["release_month_text"]  =release_month
INT_df["release_decade"] =release_decade

In [ ]:
# release_year, release_month, release_day
# release_decade, release_weekday_text (e.g. "Monday"), release_day_of_the_month, release_month_text (e.g. "July"),

In [22]:
INT_df["SER_genres_list"]

0                           (Children, Drama, Sci-Fi)
1               (Action, Adventure, Sci-Fi, Thriller)
2                          (Action, Sci-Fi, Thriller)
3         (Action, Adventure, Sci-Fi, Thriller, IMAX)
4         (Action, Adventure, Sci-Fi, Thriller, IMAX)
5                                    (Drama, Romance)
6                            (Action, Comedy, Sci-Fi)
7                            (Action, Comedy, Sci-Fi)
8                                  (Horror, Thriller)
9                    (Action, Crime, Drama, Thriller)
10                                       (Drama, War)
11                                           (Drama,)
12                                           (Drama,)
13                    (Action, Adventure, Drama, War)
14                  (Crime, Drama, Mystery, Thriller)
15                                       (Drama, War)
16                         (Drama, Romance, Thriller)
17                           (Action, Comedy, Sci-Fi)
18                         (Comedy, Musical, Romance)
19               (Fantasy, Horror, Mystery, Thriller)
20                                    (Comedy, Crime)
21                                 (Adventure, Drama)
22                                       (Drama, War)
23                                         (Fantasy,)
24                             (Comedy, Crime, Drama)
25                                    (Drama, Horror)
26                         (Crime, Mystery, Thriller)
27            (Adventure, Children, Fantasy, Musical)
28                                   (Drama, Romance)
29                                       (Drama, War)
                             ...
471604                                            NaN
471605                                            NaN
471606                                            NaN
471607                                            NaN
471608                                            NaN
471609                                            NaN
471610                                            NaN
471611                                            NaN
471612                                            NaN
471613                                            NaN
471614                                            NaN
471615                                            NaN
471616                                            NaN
471617                                            NaN
471618                                            NaN
471619                                            NaN
471620                                            NaN
471621                                            NaN
471622                                            NaN
471623                                            NaN
471624                                            NaN
471625                                            NaN
471626                                            NaN
471627                                            NaN
471628                                            NaN
471629                                            NaN
471630                                            NaN
471631                                            NaN
471632                                            NaN
471633                                            NaN
Name: SER_genres_list, Length: 471634, dtype: object

In [ ]:
genre data: HETREC/SER/ML/TMB
    # HETREC and ML already broken into dummies
    
# TMB_genres
# SER_genres_list

0               (878, 12, 10751, 14)
1                      (28, 12, 878)
2                          (28, 878)
3                  (12, 28, 53, 878)
4                  (12, 28, 53, 878)
5                    (36, 10749, 18)
6                  (28, 12, 35, 878)
7                  (28, 12, 35, 878)
8                              (27,)
9                   (18, 28, 36, 53)
10                   (18, 36, 10752)
11                             (18,)
12                             (18,)
13               (18, 28, 10752, 36)
14                    (9648, 53, 18)
15                   (18, 36, 10752)
16        (53, 28, 18, 10402, 10749)
17                          (35, 14)
18                          (10749,)
19                    (27, 9648, 53)
20                          (35, 80)
21                          (12, 18)
22                   (18, 36, 10752)
23                          (18, 14)
24                          (18, 80)
25                      (27, 18, 14)
26                      (18, 80, 53)
27                   (12, 10751, 14)
28                       (18, 10749)
29                          (10752,)
                     ...
471604                            ()
471605                         (35,)
471606            (10770, 10749, 18)
471607                         (35,)
471608                      (28, 53)
471609                  (28, 12, 14)
471610                   (10402, 99)
471611                         (99,)
471612                         (27,)
471613                         (99,)
471614                         (99,)
471615                         (99,)
471616                        (878,)
471617         (35, 10749, 18, 9648)
471618                 (28, 878, 53)
471619                      (27, 53)
471620                   (35, 10749)
471621           (28, 12, 16, 10751)
471622                         (35,)
471623                         (35,)
471624                           NaN
471625                           NaN
471626                           NaN
471627                           NaN
471628                           NaN
471629                           NaN
471630                           NaN
471631                           NaN
471632                           NaN
471633                           NaN
Name: TMB_genres, Length: 471634, dtype: object

In [50]:
genres

               0
0       Children
1          Drama
2         Sci-Fi
3         Action
4      Adventure
6       Thriller
14          IMAX
21       Romance
23        Comedy
28        Horror
31         Crime
35           War
44       Mystery
55       Musical
57       Fantasy
90     Film-Noir
114      Western
125    Animation
178  Documentary

In [49]:
SER_genre_set = list(set(flatten(INT_df["SER_genres_list"].dropna() ) ) )

# INT_df["SER_genres_list"] = INT_df["SER_genres_list"].apply(lambda x: eval(x) if pd.notnull(x) else np.nan)
flat_list = [item for sublist in INT_df["SER_genres_list"].dropna().values for item in sublist]
genres = pd.DataFrame(flat_list).drop_duplicates()#.sort_values(by="movieId")

for gen_ind in genres.index:
    gen_name = "SER_genres__"+genres.loc[gen_ind,0]
    INT_df[gen_name] = INT_df["SER_genres_list"].apply(lambda x: genres.loc[gen_ind,0] in x if isinstance(x,list) or pd.notnull(x) else np.nan)

SER_genre_vars = search(INT_df,"SER_genres__[A-Z]",case_sensitive=True)
SER_genre_vars

SER_genres__Children       45862
SER_genres__Drama          45862
SER_genres__Sci-Fi         45862
SER_genres__Action         45862
SER_genres__Adventure      45862
SER_genres__Thriller       45862
SER_genres__IMAX           45862
SER_genres__Romance        45862
SER_genres__Comedy         45862
SER_genres__Horror         45862
SER_genres__Crime          45862
SER_genres__War            45862
SER_genres__Mystery        45862
SER_genres__Musical        45862
SER_genres__Fantasy        45862
SER_genres__Film-Noir      45862
SER_genres__Western        45862
SER_genres__Animation      45862
SER_genres__Documentary    45862
dtype: int64

In [35]:
tmdb_dir = create_subdir(Dataset_directory, "themoviedb")

genre_categories = pd.read_msgpack( tmdb_dir + "genres.msgpack")
genre_categories.set_index("id",inplace=True)# = genre_categories.id

In [43]:
TMB_genre_set = list(genre_categories["name"].values)
TMB_genre_set

['Science Fiction',
 'Adventure',
 'Family',
 'Fantasy',
 'Action',
 'Thriller',
 'History',
 'Romance',
 'Drama',
 'Comedy',
 'Horror',
 'War',
 'Mystery',
 'Music',
 'Crime',
 'Western',
 'Animation',
 'Documentary',
 'TV Movie']

In [37]:
INT_df["TMB_genres"][0:10].apply(lambda x: [genre_categories.loc[y,"name"] for y in x])

0     [Science Fiction, Adventure, Family, Fantasy]
1              [Action, Adventure, Science Fiction]
2                         [Action, Science Fiction]
3    [Adventure, Action, Thriller, Science Fiction]
4    [Adventure, Action, Thriller, Science Fiction]
5                         [History, Romance, Drama]
6      [Action, Adventure, Comedy, Science Fiction]
7      [Action, Adventure, Comedy, Science Fiction]
8                                          [Horror]
9                [Drama, Action, History, Thriller]
Name: TMB_genres, dtype: object

Int64Index([  878,    12, 10751,    14,    28,    53,    36, 10749,    18,
               35,    27, 10752,  9648, 10402,    80,    37,    16,    99,
            10770],
           dtype='int64', name='id')

In [58]:
# SER_genre_set = list(set(flatten(INT_df["SER_genres_list"].dropna() ) ) )

# INT_df["SER_genres_list"] = INT_df["SER_genres_list"].apply(lambda x: eval(x) if pd.notnull(x) else np.nan)
# flat_list = [item for sublist in INT_df["TMB_genres"].dropna().values for item in sublist]
genres = pd.DataFrame(TMB_genre_set).drop_duplicates()#.sort_values(by="movieId")

for gen_ind in genres.index:
    gen_name = "TMB_genres__"+genres.loc[gen_ind,0]
    INT_df[gen_name] = INT_df["TMB_genres"].apply(lambda x: genre_categories.index[gen_ind] in x if isinstance(x,list) or pd.notnull(x) else np.nan)

TMB_genre_vars = search(INT_df,"TMB_genres__[A-Z]",case_sensitive=True)
TMB_genre_vars

TMB_genres__Science Fiction    467917
TMB_genres__Adventure          467917
TMB_genres__Family             467917
TMB_genres__Fantasy            467917
TMB_genres__Action             467917
TMB_genres__Thriller           467917
TMB_genres__History            467917
TMB_genres__Romance            467917
TMB_genres__Drama              467917
TMB_genres__Comedy             467917
TMB_genres__Horror             467917
TMB_genres__War                467917
TMB_genres__Mystery            467917
TMB_genres__Music              467917
TMB_genres__Crime              467917
TMB_genres__Western            467917
TMB_genres__Animation          467917
TMB_genres__Documentary        467917
TMB_genres__TV Movie           467917
dtype: int64

In [61]:
INT_df[ TMB_genre_vars.index ].sum()

TMB_genres__Science Fiction         0.0
TMB_genres__Adventure               0.0
TMB_genres__Family                  0.0
TMB_genres__Fantasy                 0.0
TMB_genres__Action                  0.0
TMB_genres__Thriller                0.0
TMB_genres__History                 0.0
TMB_genres__Romance                 0.0
TMB_genres__Drama                   0.0
TMB_genres__Comedy                  0.0
TMB_genres__Horror                  0.0
TMB_genres__War                     0.0
TMB_genres__Mystery             13500.0
TMB_genres__Music                   0.0
TMB_genres__Crime                9791.0
TMB_genres__Western                 0.0
TMB_genres__Animation           19976.0
TMB_genres__Documentary             0.0
TMB_genres__TV Movie           105515.0
dtype: float64

In [41]:
INT_df.drop( ["TMB_genres","SER_genres_list"] )

TMB_genres                    467917
TMB_num_genres                467917
HETREC_genres__Adventure       10197
HETREC_genres__Animation       10197
HETREC_genres__Children        10197
HETREC_genres__Comedy          10197
HETREC_genres__Fantasy         10197
HETREC_genres__Romance         10197
HETREC_genres__Drama           10197
HETREC_genres__Action          10197
HETREC_genres__Crime           10197
HETREC_genres__Thriller        10197
HETREC_genres__Horror          10197
HETREC_genres__Mystery         10197
HETREC_genres__Sci-Fi          10197
HETREC_genres__IMAX            10197
HETREC_genres__Documentary     10197
HETREC_genres__War             10197
HETREC_genres__Musical         10197
HETREC_genres__Film-Noir       10197
HETREC_genres__Western         10197
HETREC_genres__Short           10197
SER_genres_list                45862
SER_num_genres                 45862
ML_genres__Adventure           58098
ML_genres__Animation           58098
ML_genres__Children            58098
ML_genres__Comedy              58098
ML_genres__Fantasy             58098
ML_genres__Romance             58098
ML_genres__Drama               58098
ML_genres__Action              58098
ML_genres__Crime               58098
ML_genres__Thriller            58098
ML_genres__Horror              58098
ML_genres__Mystery             58098
ML_genres__Sci-Fi              58098
ML_genres__IMAX                58098
ML_genres__Documentary         58098
ML_genres__War                 58098
ML_genres__Musical             58098
ML_genres__Western             58098
ML_genres__Film-Noir           58098
dtype: int64